@charset "UTF-8";

@import "variables.scss";

// ============================== common styles ==============================
*{margin:0; padding:0; list-style: none; text-decoration: none; overflow: hidden; color:#4a4a4a;}
hr{border:none; margin:20px 0;}

// ============================== init classes ==============================
.circle{border-radius: 50%;}
//.block{display: block;}
//.inline-block{display: inline-block;}

// ============================== init mixins ==============================
@mixin body-border-style($pos, $shape){
  //배경 테두리 위치
  @if($pos == left-top) {
    left: 0;
    top: 0;
  }@else if($pos == right-bottom){
    right:0;
    bottom:0;
  }

  //배경 테두리 가로 세로 넓이
  @if($shape == w){
    width: $bdHeight;
    height: $bdWidth;
  }@else if($shape == h){
    width: $bdWidth;
    height: $bdHeight;
  }
}

@mixin mobile{
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet{
  @media (min-width: $mobile+1) and (max-width: $tablet){
    @content;
  }
}

@mixin desktop{
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin responsive-set($type, $navWidth, $navHeight){
  @if ($type == mobile){
    nav{
      width: $navWidth !important;
      height: $navHeight !important;
    }

    span#space{
      width: $navWidth !important;
      height: 5px !important;
    }

    section{
      width: $navWidth;
    }
  }@else if ($type == tablet or $type == desktop){
    nav{
      width: $navWidth;
    }

    section{
      width: calc(100% - 5px - $navWidth);
    }
  }
}

// ============================== init functions ==============================
// ----- 스크롤바 -----
//@mixin scrollbar-style {
//  &::-webkit-scrollbar-track{
//    border-radius: 15px;
//    background-color: #F5F5F5;
//  }
//
//  &::-webkit-scrollbar
//  {
//    width: 10px;
//    background-color: #F5F5F5;
//  }
//
//  &::-webkit-scrollbar-thumb
//  {
//    border-radius: 15px;
//    background-color: $lightGray;
//  }
//}

// ============================== code ==============================
body{
  width: 100%;
  position: fixed;
}

/*배경 테두리*/
div.body-border{
  display: block;
  background-color: $bdColor;
  position: fixed;

  &#leftTopWidth{
    @include body-border-style(left-top, w);
  }

  &#leftTopHeight{
    @include body-border-style(left-top, h);
  }

  &#rightBottomWidth{
    @include body-border-style(right-bottom, w);
  }

  &#rightBottomHeight{
    @include body-border-style(right-bottom, h);
  }
}

/*컨테이너*/
div#container{
  width: 100vw;
  height: 100vh;

  //가운데 설정
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  .center{
    //넓이&높이 = 전체 넓이 - 배경 테두리 넓이 * 2개 - 배경 테두리 만큼의 padding값 * 2개
    //        = 100% - 30px * 2 - 30px * 2
    width: calc(100% - ($bdWidth * 2) - ($bdWidth * 2));
    height: calc(100% - ($bdWidth * 2) - ($bdWidth * 2));

    /*메뉴*/
    nav{
      display: inline-flex;
      height: 100%;
      background-color: $bdColor;
      float: left;
      align-items: center;
      justify-content: center;

      ul{
        font-family: fantasy;

        li{
          font-size: 1.5em;
          margin: 10px 0;

          //활성 메뉴
          &.active-menu{
            &::before, &::after{
              content: ' ■ ';
            }
          }
        }
      }
    }

    /*여백*/
    span#space{
      display: inline-flex;
      width: 5px;
      height: 100%;
      float: left;
    }

    /*컨텐츠*/
    section{
      display: inline-flex;
      height: 100%;
      background-color: $bgColor;

      aside{
        display: none;
        width: 100%;

        //활성 컨텐츠
        &.active-content{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          overflow-y: scroll;
          padding: 30px;
        }
      }
    }
  }
}

aside#ABOUT_ME{
  img{
    width: 300px;
    border: 5px solid $bdColor;
  }

  p{
    text-align: center;
    margin-top: 40px;
  }
}

/*반응형 스타일*/
body{
  @include mobile{
    background-color: red;

    .center{
      @include responsive-set(mobile, 100%, 100px); //height 임시값 세팅 (수정 필요)

      //section 색깔 구분을 위해 임시 사용 (제거하기)
      section{
        background-color: blue;
      }
    }
  }

  @include tablet{
    background-color: blue;

    .center{
      @include responsive-set(tablet, 200px, 100%);

      //section 색깔 구분을 위해 임시 사용 (제거하기)
      section{
        background-color: green;
      }
    }
  }

  @include desktop{
    .center{
      @include responsive-set(desktop, 300px, 100%);
    }
  }
}

