@charset "UTF-8";
/*배경 컬러*/
/*배경 테두리 넓이 및 길이*/
/*반응형 화면 크기*/
/*글씨 크기*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  color: #4a4a4a;
}

hr {
  border: none;
  margin: 20px 0;
}

.circle {
  border-radius: 50%;
}

.marg-t30 {
  margin-top: 30px;
}

.marg-b30 {
  margin-bottom: 30px;
}

@font-face {
  font-family: "MaruBuri-Bold";
  src: url("MaruBuri-Bold.otf") format("opentype");
}
/*배경 테두리 스타일*/
/*반응형 스타일*/
body {
  width: 100%;
  position: fixed;
}

/*배경 테두리*/
div.body-border {
  display: block;
  background-color: #ffe3b0;
  position: fixed;
}
div.body-border#leftTopWidth {
  left: 0;
  top: 0;
  width: 100px;
  height: 30px;
}
div.body-border#leftTopHeight {
  left: 0;
  top: 0;
  width: 30px;
  height: 100px;
}
div.body-border#rightBottomWidth {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 30px;
}
div.body-border#rightBottomHeight {
  right: 0;
  bottom: 0;
  width: 30px;
  height: 100px;
}

/*컨테이너*/
div#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
div#container .center {
  width: calc(100% - 60px - 60px);
  height: calc(100% - 60px - 60px);
  /*메뉴*/
  /*여백*/
  /*컨텐츠*/
}
div#container .center nav {
  display: inline-flex;
  height: 100%;
  background-color: #ffe3b0;
  float: left;
  align-items: center;
  justify-content: center;
}
div#container .center nav ul {
  font-family: fantasy;
}
div#container .center nav ul li {
  font-size: 1.5em;
  margin: 10px 0;
}
div#container .center nav ul li.active-menu::before, div#container .center nav ul li.active-menu::after {
  content: " ■ ";
}
div#container .center span#space {
  display: inline-flex;
  width: 5px;
  height: 100%;
  float: left;
}
div#container .center section {
  display: inline-flex;
  height: 100%;
  background-color: #fff8eb;
}
div#container .center section aside {
  display: none;
  width: 100%;
}
div#container .center section aside div:first-child {
  width: 100%;
  text-align: center;
}
div#container .center section aside.active-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 30px;
}
div#container .center section aside .tbl_info {
  margin-left: auto;
  margin-right: auto;
}
div#container .center section aside .tbl_info td {
  padding-top: 5px;
}
div#container .center section aside .tag {
  font-family: "MaruBuri-Bold";
  font-size: 1.1rem;
  font-style: italic;
}
div#container .center section aside .title {
  font-family: "MaruBuri-Bold";
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px #ffe3b0;
}

aside#ABOUT_ME img#myEmoji {
  width: 250px;
  border: 5px solid #ffe3b0;
}
aside#ABOUT_ME .sns img {
  width: 32px;
  margin: 0 3px;
}

/*반응형 스타일*/
@media (max-width: 767px) {
  body {
    background-color: red;
  }
  body .center nav {
    width: 100% !important;
    height: 100px !important;
  }
  body .center span#space {
    width: 100% !important;
    height: 5px !important;
  }
  body .center section {
    width: 100%;
    height: calc(100% - 5px - 100px) !important;
  }
  body .center section {
    background-color: blue;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: blue;
  }
  body .center nav {
    width: 200px;
  }
  body .center section {
    width: calc(100% - 5px - 200px);
    height: 100%;
  }
  body .center section {
    background-color: green;
  }
}
@media (min-width: 1024px) {
  body .center nav {
    width: 300px;
  }
  body .center section {
    width: calc(100% - 5px - 300px);
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
