@charset "UTF-8";

// ============================== init variables ==============================
/*배경 테두리 컬러*/
$bdColor: #ccc;

/*배경 테두리 넓이 및 길이*/
$bdWidth: 30px;
$bdHeight: 100px;

/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;



//$bgColor:#fff9f9;
//$thumbBgColor:#b59a9a;
//$bdColor:#ffb7b7;
//$innerBdColor:#f0abab;
//$introTxtColor: #47a585;
//$lightGray:#dddddd;
//$white:#ffffff;