@charset "UTF-8";

// ============================== common styles ==============================
*{margin:0; padding:0; list-style: none; text-decoration: none; overflow: hidden; color:#4a4a4a;}

// ============================== init variables ==============================
$bgColor:#fff9f9;
$bdColor:#ffb7b7;
$innerBdColor:#f0abab;
$introTxtColor: #47a585;

$bgGradientColor:linear-gradient(to right bottom, $bgColor, $bdColor);
$white:#ffffff;

// ============================== init classes ==============================
.block{display: block;}
.inline-block{display: inline-block;}

// ============================== code ==============================
section{
    width:100vw;
    position: fixed;
    display:flex;
    align-items:center;
    height: 100vh;

    div.container{
        border: 1px solid black;
        width:85%;
        height:70vh;
        margin: 0 auto;

        nav{
            display:inline-flex;
            align-items:center;
            width: 10%;
            height: 100%;
            float: left;
            border-right: 1px solid red;
            background-color:transparent;
        }//nav

        div#intro-box{
            width:30%;
            float: left;
            height: 100%;
            box-shadow: 3px 0px 3px 0px gray;
            background-color:$white;

            div{
                &:first-child{
                    padding:20px 0;
                    text-align: center;
                    img{
                        display: block;
                        width: 90%;
                        max-width:250px;
                        margin: 0 auto;
                    }
    
                    h1{
                        display: inline-block;
                        text-align: center;
                        border-bottom: 2px solid $bdColor;
                        margin-top: 20px;
                        font-size: 2.5em;
                    }//이름
                }

                &.sns-link{
                    display: block;
                    text-align: center;

                    p{
                        font-size:0.9em;
                    }

                    div{
                        margin: 40px 0;
                        a{
                            margin:0 3px;
                            img{
                                width:32px;
                            }
                        }
                    }
                }
            }

            footer{
                display: block;
                position: relative;
                top: 90px;
                font-size: 0.8em;
            }
        }//div#intro-box

        div.contents{
            width:auto;
            border-right: 1px solid green;
            height: 100%;
            overflow: auto;

            div:first-child{
                padding:20px;
            }
        }//div#contents

    }//div.container
}//section

body{
	background:$bgColor;
}//배경 색상

div.body-border{
	display:block;
	width:100%;
	height:100%;
	margin:0 auto !important;
	position:fixed;
	box-shadow:0 0 0 10px $bdColor inset;
	z-index:-1; // 우선은 뒤로 넘김(chrome에서 엘리먼트가 안 잡혀..)
}//테두리
