@charset "UTF-8";

$width90:90%;
$borderRadius:15px;

nav{
	width:$width90;
	/*border:1px solid black;*/
	margin:0 auto;
	
	ul{
		text-align: center;
		
		li{
			display:inline-block;
			border: 1px solid blue;
			border-top-left-radius: $borderRadius;
			border-top-right-radius: $borderRadius;
			min-width:150px;
			padding:20px 0;
			margin:0 -3px;
			position:relative;
			bottom:-10px;
		}
		li.active{
			padding:30px 0;
			bottom:0px;
			box-shadow: 0px 5px 5px 2px gray;
			z-index:-1;
			a{
				color:red;
			}
		}
	}
}//nav

section{
	width:$width90;
	border:1px solid black;
	border-radius: $borderRadius;
	margin:0 auto;
	height:100px;
	background-color:#ff6600;
}//section